@mainColor: orange;

@img_width:120px;
@img_height:120px;

.row{
margin: auto;
}

@import "pizza/pizza-menu";
@import "pizza/right-pannel";
@import "pizza/left-pannel";
@import "pizza/header";
@import "pizza/footer";
@import "pizza/pizza-ordered";
@import "pizza/order-contact-form";