<% include common/header.ejs %>

<div class="main-container container-fluid">
    <div class="row">
        <div class="col-md-9 col-sm-6 left-pannel">
            <div class="name"><span class="title-left"><span class="title-left-text">Усі піци</span><span class="badge badge-left">8</span></span></div>

            <div class="nav navbar-nav nav-types navbar ">
                <li><a id ="all" href="#">Усі</a></li>
                <li><a id="meat" href="#">М'ясні</a></li>
                <li><a id="pineapple" href="#">З ананасами</a></li>
                <li><a id="mushrooms" href="#">З грибами</a></li>
                <li><a id="seafood" href="#">З морепродуктами</a></li>
                <li><a id="vega" href="#">Вега</a></li>
            </div>

            <div class="row">

                <div class="row" id="pizza_list">
                    
                   
                </div>

            </div>
        </div>
    </div>
</div>

<% include common/rightPanel.ejs %>
<% include common/footer.ejs %>