<div class="col-md-3  col-sm-6 right-pannel">
    <span id="title-right">Замовлення</span><span class="badge badge-right">0</span>
    <button type="button" class="btn btn-link reset">Очистити замовлення</button>

    <div class="ordered-display">

        <div id="cart">
                    
        </div>
    </div>

    <div class="pan-footer">
        <span class="total-price-text">Сума замовлення</span>
        <span class="total-price"></span>
        <button type="button" class="btn btn-success order">Замовити</button>
    </div>
    
</div>